footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    box-shadow: 0 0 1em 0 var(--box-shadow);
}

footer .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    padding: 1em 0em;
}

footer .content p {
    font-size: 1em;
    font-weight: 300;

    color: var(--text, #131313);
}

footer .content .scientificCirleLogos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

footer .content .scientificCirleLogos img.logo-icon,
footer .content .scientificCirleLogos img.logo-text {
    height: 6em
}