header {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;

    background-color: var(--background, #fff);
    padding: .5em 2em;
    border-radius: 2em;
    z-index: 100;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

header .logo .logo-icon {
    height: 5em;
}

header .logo .logo-text {
    height: 5em;
}

header .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;

    text-decoration: none;
}

header .option p.option-text {
    width: auto;
    white-space: nowrap;

    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.2em;
    color: var(--text, #131313);
}

header .option p.option-text.active {
    color: var(--primary, #1677FF);
    text-decoration-color: var(--primary, #1677FF);
}

header .option svg.option-icon {
    width: 1.3em;
    height: 1.3em;
}

header .option svg.option-icon path {
    fill: var(--text, #131313);
}

header .option.active svg.option-icon path {
    fill: var(--primary, #1677FF);
}

header .option:hover p.option-text {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

button.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: .25em;
    cursor: pointer;
    color: var(--text, #131313);
}

button.theme-toggle .theme-toggle-icon {
    width: 2.5em;
    height: 2.5em;
}

button.theme-toggle:hover {
    color: var(--primary, #1677FF);
}