.management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    background-color: var(--background, #fff);
}

.management .members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 2em;
    width: 80%;
}

.management .members .member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75em;
}

.management .members .member .photo {
    width: 8em;
    height: 8em;

    margin-bottom: 1em;

    border-radius: 50%;
    background-color: #dddddd;
}

.management .members .member p.name {
    font-size: 1.3em;

    color: var(--text, #131313);
}

.management .members .member .divider {
    height: .05em;
    width: 100%;

    background-color: var(--text, #131313);
}

.management .members .member p.role {
    font-size: 1em;
    font-weight: 800;

    color: var(--text, #131313);
}