.socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    background-color: var(--background, #fff);
}

.socialMedia .medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
    width: 80%;
}

.socialMedia .medias .mediaBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.socialMedia .medias .mediaBlock .logo {
    height: 8em;
    width: 8em;

    background-color: #dddddd;
}

.socialMedia .medias .mediaBlock h3 {
    font-size: 1.5em;

    color: var(--text, #131313);
}